@model WebStartMVC.Models.LoginModel
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm()) 
{ 
    <div>
        UserName : @Html.TextBoxFor(m=> m.UserName)
    </div>
    <div>
        Password : @Html.PasswordFor(m => m.Password)
    </div>
    <div>
        <input type="submit"  name="name" value="Login"/>
    </div>
}